* { box-sizing: border-box; }
body { margin: 0; }

.nav { padding: 40px 20px 40px 20px; background: #21222A; }
.logo { margin: 0px 7px 0px 6px; }
.reactFacts { 
   flex-grow: 1; 
   font-family: Inter;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   letter-spacing: -0.05em;
   color: #61DAFB;
}
.reactCourse {
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 19px;
   text-align: right;
   color: #DEEBF8;
   margin-right: 5px;
}

