.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   padding: 10px 10px 10px 0px; 
}

.nav-logo {
   width: 60px;
   margin-left: 15px;
}

.nav-items {
   list-style: none;
   display: flex;
}

.nav-items > li {
   padding: 10px;
}

.mainContent {
   padding: 20px 0px 20px 20px;
}

.footer {
   background-color: #EDEDED;
   color: #5B5B5B;
   padding: 10px 10px 10px 35px;
}


